.Button {
  position: absolute;
  top: px2rem(10);
  right: px2rem(15);
  z-index: 9;

  button {
    width: 100px;
    height: 30px;
    background-color: $send-color;
    color: $p-color;
    @extend .button;

    & > * {
      cursor: pointer;
    }

    //mobile
    @include screenSize(993px, 3000px) {
      .glass {
        display: none;
      }
    }

    @include screenSize(0, 992px) {
      width: px2rem(30);
      height: px2rem(30);

      label {
        display: none;
      }

      .glass {
        transform: scaleX(-1);
      }
    }
  }
}
