.MobileTab {
  position: absolute;
  top: 93%;
  bottom: 0;
  left: 0;
  @include flexBox(column, flex-start, center, 0);
  width: 100%;
  border: solid $background-color-light 2px;
  border-radius: 20px 20px 0 0;
  background-color: white;
  box-shadow: 7px 3px 2px rgba(190, 190, 190, 0.303);
  padding: $s-padding;

  .content {
    overflow: hidden;
    transition: all ease-in-out 1.5s;

    .handler {
      background-color: $background-color-dark;
      width: px2rem(200);
      height: px2rem(8);
      border-radius: 20px;
      margin: auto;
    }

    h1 {
      color: $title-color;
    }
  }

  @include screenSize(767px, 3000px) {
    display: none;
  }
}
