//colors
$background-color-light: #f6f6f6;
$background-color-dark: #e9e9e9;
$send-color: #5a8cff;
$dropdownColor: #fafafa;
//txt
$title-color: #9b9b9b;
$speed-txt-title: #cccccc;
$speed-txt-content: #717171;
$p-color: rgb(247, 247, 247);

// spacing
$xs-padding: 1%;
$s-padding: 3%;
$m-padding: 10%;
$ml-padding: 15%;
$l-padding: 25%;

//styles
$button-radius: 10px;

//utils
$target: solid red 2px;
