//colors
$secondary-color: #5a8cff;
$background-color-light: #f6f6f6;
$background-color-dark: #e9e9e9;
$dropdownColor: #fafafa;
$p-color: rgb(247, 247, 247);

// spacing
$xs-padding: 1%;
$s-padding: 3%;
$m-padding: 10%;
$ml-padding: 15%;

//styles
$button-radius: 10px;

//utils
$target: solid red 2px;
